*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100%;
    background-color:white;
}


.container-one{
  box-shadow: 0 0 5px black;
  flex-basis: 20%;
}
.img-box{
    width: 300px;
    height: 50px;
    list-style-type: none;
    background-color: white;
}
.img-logo{
    margin: 0px 5px 0 5px;
    text-decoration: none;
    padding:15px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.img-box:hover{
    background-color: #d3d7cf;
    cursor: pointer;
}

.new-box{
    width: 300px;
    height: 55px;
    padding: 15px;
    list-style-type: none;
    background-color: #616161;
}
.new-msg{
    color: white;
    margin: 0px 5px 0 5px;
    text-decoration: none;
    padding:15px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.new-box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.main-main{
    margin-top: 10%;
    margin-left: 75%;
    position: relative;
    display: none;
    /* position:fixed; */
}
.mail{
    position:absolute;
    height: 570px;
    width: 900px;
    background-color: rgb(236, 231, 221);
}
.send-mail{
    color: white;
    /* position:relative; */
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: red;
    
}
h1{
    margin-left: 15px;
}
#show{
    display: none;
}
.close-btn{
    color: white;
    width: 50px;
    height: 60px;
    font-size: 30px;
    margin: 10px 10;
    padding: 13px 13px;
    margin: 10px;
}
.close-btn:hover{
    background-color: #c5c0c0;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.from{
    margin: 10px ;
    color: black;
}
.search-bar{
    width: 880px;
    height: 40px;
}
.ser-bar{
    height: 150px;
}
.end{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.cancel{
    height: 40px;
    background-color:red;
    color:white;
    margin:8px 5px 0 0;
    list-style: none;
    padding: 8px 10px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.cancel:hover{
    background-color: #888a85;
    color: black;
    cursor: pointer;
}
.send{
    height: 40px;
    background-color: #d3d7cf;
    color:black;
    margin:8px 5px 0 0;
    list-style: none;
    padding: 8px 10px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.send:hover{
    background-color: #888a85;
    color: black;
    cursor: pointer;
}

#show:checked ~ .main-main{
    display: block;
    
}

.box{
    width: 300px;
    height: 55px;
    list-style-type: none;
    padding: 15px;
}

.item{
    /* color: white; */
    color: black;
    margin: 0px 5px 0 5px;
    text-decoration: none;
    padding:15px 6px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.all{
    display: none;
}
.img-had{
    display: flex;
    align-items: center;
}
.borge{
    padding: 25px;
    height:200px;
    cursor: pointer;
    font-size: 15px;
}
h5{
    margin: 15px;
}
.borge:hover{
    background-color: #eaebea;
}
.jane{
    padding: 25px;
    height:150px;
    cursor: pointer;
    font-size: 15px;
}
.jane:hover{
    background-color: #eaebea;
}

.john{
    padding: 25px;
    height:130px;
    cursor: pointer;
    font-size: 15px;
}
.john:hover{
    background-color: #eaebea;
}

#inbox-chack{
    display: none;
}
#inbox-chack:checked ~ .all{
    display: block;
    /* background-color: red; */
}


.box:hover{
    background-color: #c5c0c0;
    color: white;
    cursor: pointer;
}


.container-two{
    flex-basis: 80%;
    margin: 12px 0 0 12px;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 15px;
}


#checkbtn{
    width: 45px;
    padding: 5px 13px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}
#checkbtn:hover{
    background-color: #d3d7cf;
}

.main-h1{
    background-color: red;
    color: black;
    width: 45px;
    padding: 5px 13px;
    font-size: 20px;
    display: none;
    cursor: pointer
}
.main-h1:hover{
    background-color: #d3d7cf;
}






/* .borge-mail{
    display: none;
} */

.main-div{
    background-color:white ;
  }
  
.img-man{
    height: 200px;
    width: 200px;
    border-radius: 8px;
  }
  
.subject{
    font-size: 18px;
    height: 27px;
    color: #616161;
    margin: 8px 0;
  }
  
.time{
    font-size: 18px;
    height: 27px;
    margin: 8px 0 10px 0;
  }
.nav-bar{
      display: flex;
      list-style-type: none;
      color: black;
  }
  
  .reply{
    background-color: #d3d7cf;
    color:black;
    margin:8px 5px 0 0;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  
  .reply:hover{
      background-color: #888a85;
      color: black;
      cursor: pointer;
  }
  
  
  .Forward{
    background-color: #d3d7cf;
    color:black;
    margin: 8px 5px 0 0;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  
  .Forward:hover{
      background-color: #888a85;
      color: black;
      cursor: pointer;
  }
  
  
  p {
      display: block;
  }
  #check-borge:checked ~ .borge-mail{
    display: block;
  }








.john-mail{
    display: none;
}
.john-div{
    background-color:white ;
  }
  
.john-img-man{
    height: 200px;
    width: 200px;
    border-radius: 8px;
  }
  
.john-subject{
    font-size: 18px;
    height: 27px;
    color: #616161;
    margin: 8px 0;
  }
  
.john-time{
    font-size: 18px;
    height: 27px;
    margin: 8px 0 10px 0;
  }
.john-bar{
      display: flex;
      list-style-type: none;
      color: black;
  }
  
.john-reply{
    background-color: #d3d7cf;
    color:black;
    margin:8px 5px 0 0;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  
.john-reply:hover{
      background-color: #888a85;
      color: black;
      cursor: pointer;
  }
  
  
.john-Forward{
    background-color: #d3d7cf;
    color:black;
    margin: 8px 5px 0 0;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  
.john-Forward:hover{
      background-color: #888a85;
      color: black;
      cursor: pointer;
  }
  
#check-john:checked ~ .john-mail{
    display: block;
  }


#check-borge{
    display: none;
}

#check-jane{
    display: none;
}

#check-john{
    display: none;
}